h1, h3 {
  font-family: 'Josefin Sans', sans-serif;
}
body, p {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}
h1 {
  font-size: 2.5rem;
  color: #000080;
  text-align: center;
}
p {
  color: #ffcc00;
}
.only-desktop {
  display: none;
}
ul {
  list-style-type: none;
  text-align: center;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
ul li a {
  color: #136a84
}
.main-image {

}
img {
  max-width: 100%;
  height: auto;
  padding: 20px;
}
ul {
  list-style-type: none;
  text-align: center;
}
